.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 2em 2.5%;
}

.new-tweet h2 {
  font-weight: 600;
  margin-bottom: 1em;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet label {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.new-tweet textarea {
  height: 100px;
  padding: 0.5em;
  color: #b1935f;
  background-color: #f7f7f7;
  border: none;
  border-radius: 4px;
  resize: none;
  outline: none;
}

.new-tweet textarea::placeholder {
  color: #888;
}

.new-tweet button {
  font-family: "Bungee", cursive;
  background-color: #4056a1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-top: 1em;
  margin-left: auto; /* Added to move the button to the right */
  cursor: pointer;
}

.new-tweet .counter {
  color: #888;
  font-size: 0.8em;
  margin-top: 0.5em;
  font-family: "Bungee", cursive;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.redText {
  color: red;
}

.tweet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 4px;
}

.tweet header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.tweet .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1em;
}

.tweet .user-info {
  flex-grow: 1;
}

.avatar {
  background-color: transparent;
}

.tweet h3.user-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.tweet .user-handle {
  color: #888;
}

.tweet-content {
  margin-bottom: 1em;
}

.tweet-content p {
  margin: 0;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-timestamp {
  color: #888;
}

.tweet-actions {
  display: flex;
  gap: 0.5em;
  font-size: 1.2em;
  color: #888;
}

.tweet-actions i:hover {
  color: #4056a1;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .avatar {
  font-size: 24px;
  margin-right: 10px;
}

.user-info .user-name {
  font-weight: bold;
}

.user-info .user-handle {
  color: #888;
}

.error-message {
  background-color: #f44336;
  color: white;
  padding: 8px;
  border-radius: 4px;
  margin-top: 10px;
}

.new-tweet .counter.redText {
  color: red;
}


@media (min-width: 1024px) {
  .tweets-container {
    position: absolute;
    top: 520px;
    right: 2.5%;
    width: 50%; 
  }

}