
.tweet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 4px;
}

.tweet header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.tweet .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1em;
}

.tweet .user-info {
  flex-grow: 1;
}

.avatar {
  background-color: transparent;
}

.tweet h3.user-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.tweet .user-handle {
  color: #888;
}

.tweet-content {
  margin-bottom: 1em;
}

.tweet-content p {
  margin: 0;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-timestamp {
  color: #888;
}

.tweet-actions {
  display: flex;
  gap: 0.5em;
  font-size: 1.2em;
  color: #888;
}

.tweet-actions i:hover {
  color: #4056a1;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .avatar {
  font-size: 24px;
  margin-right: 10px;
}

.user-info .user-name {
  font-weight: bold;
}

.user-info .user-handle {
  color: #888;
}

.redText {
  color: red;
}


.error-message {
  background-color: #f44336;
  color: white;
  padding: 8px;
  border-radius: 4px;
  margin-top: 10px;
}

@media (min-width: 1024px) {
  .tweets-container {
    position: absolute;
    top: 520px;
    right: 2.5%;
    width: 50%;
  }
}